version: "3.8"

services:
  # 'db'라는 이름의 서비스를 정의합니다.
  db:
    image: postgres:16 # PostgreSQL 16 버전 이미지를 사용
    restart: always
    ports:
      # 내 컴퓨터의 5432 포트와 Docker 안의 5432 포트를 연결
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER} # DB 접속 유저 이름
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} # DB 접속 비밀번호
      POSTGRES_DB: ${POSTGRES_DB} # 생성할 데이터베이스 이름
    volumes:
      # DB 데이터를 내 컴퓨터에 저장해서 Docker가 꺼져도 데이터가 안 날아가게 함
      - ./postgres-data:/var/lib/postgresql/data
